.drag {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.handle {
  border: solid rgba(0, 0, 0, 0.4) 0.1px;
  background-color: #f7b9dd;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px 5px 0 0;
  align-items: center;
}

.handle-text {
  flex: 1;
  text-align: center;
}

.handle-shrink {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid rgba(0, 0, 0, 0.4) 0.1px;
  border-radius: 50%;
  background-color: yellow;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.handle-close {
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.4) 0.1px;
  background-color: red;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.window-view {
  border-left: solid rgba(0, 0, 0, 0.4) 0.1px;
  border-bottom: solid rgba(0, 0, 0, 0.4) 0.1px;
  border-right: solid rgba(0, 0, 0, 0.4) 0.1px;
  height: auto;
  flex-grow: 1;
  background-color: #f7f2de;
  border-radius: 0 0 5px 5px;
}
