body {
  margin: 0;
  font-family: "PixelFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cdd2fa;
  height: 100vh;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "PixelFont";
  src: url("./fonts/04B_03__/04B_03__.ttf") format("truetype");
}
