.taskbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apps {
  display: flex;
  align-items: center;
  position: absolute;
}

.app {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #7057c1;
}

.taskbar-line.before-clock {
  position: absolute;
  right: 100px;
}

.time {
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  right: 5px;
  color: #7057c1;
}
